{% extends 'base.html.twig' %}

{% block title %} page festival {% endblock %}
 {% block style %}  rel="stylesheet" href="{{asset('css/admin.css')}}" {% endblock %}

{% block body %}
<div class="container">
<h1>Bienvenue sur la page du festival  {{festival.name}} </h1>
<navbar class="navbar navbar-menu bg-primary"> nav</navbar>
<section class="important-section bg-danger"> 
{% for notification in notifications %}
{% if notification.important %}
<div>{{notification.content}} </div>
{% endif %}
{% endfor %} </section>
<section class="program-section border">  
<h2> Programme du jour :  </h2> </section>
<section class="notification-section">
{% for notification in notifications %}
{% if notification.important == false %}
<div>{{notification.content }} </div>
{% endif %}
{% endfor %}
 </section>
<section class="map-section"> </section>

</div>



{% endblock %}
 

