{% extends 'adminbase.html.twig' %}

{% block title %}Festival{% endblock %}

{% block body %}
<div class="container mx-auto">
    <h1>Festival {{ festival.name }}</h1>

    <a href="{{ path('app_festival_index') }}">back to list</a>

    <a href="{{ path('app_festival_edit', {'id': festival.id}) }}">edit</a>





    {{ include('festival/_delete_form.html.twig') }}




{% endblock %}
